# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# macOS
.DS_Store

# keep folder structure but ignore actual data
data/raw/*
data/processed/*
data/chunks/*
data/chroma/
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/chunks/.gitkeep
